<div class="prose">
  <h1>Welcome สถานปฏิบัติธรรมป่าวิเวกสิกขาราม อำเภอพล จังหวัดขอนแก่น!</h1>

  <ul>
    <li><%= link_to "linktr.ee", "https://linktr.ee/wiweksikkaram" %></li>
  </ul>

  <%= render template: 'post/index' %>
</div>
